@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
   <div class="col">
      
            
            <button class="btn btn-light"> <a asp-action="Login" asp-controller="Account"> Login</a>
                
            </button>
            
        	<button class="btn btn-dark"> <a asp-action="Register" asp-controller="Account"> Register</a></button>
     
       
		

   </div>
   
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
